<!DOCTYPE html>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
</style>
<html>
  <style>
    #title {
      text-align: center;
    }
  </style>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="header.css" />
    <h1 id="title">sea see</h1>
  </head>
</html>
