<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sea See</title>
    <link rel="stylesheet" href="search.css" />
  </head>
  <style></style>
  <body>
    <div class="search__container">
      <p class="search__title">나와 가장 가까운 바다 찾기</p>
      <input class="search__input" type="text" placeholder="Search" />
    </div>
  </body>
</html>
