body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: mediumaquamarine;
}

ul {
    display: flex;
    list-style: none;
    border: 1px solid black;
}

li {
    margin: 0 10px;
}

input {
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
}