body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    border: 1px solid black;
}

li {
    margin: 0 10px;
}