.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/play.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 12px;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
